.header {
  box-sizing: border-box;
  height: 500px;
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #CDE3E4;
  background-image: url("https://www.transparenttextures.com/patterns/old-map.png");
  
}

.header p {
  font-size: 40px;
}