.container {
  display: flex;
}

textarea {
  width: 100%;
  border: none;
  background-color: #f4f1ec;
  border-bottom: 4px solid grey;
}

button {
  font-family: 'Bungee', cursive;
  background-color: #EE8C00;
  color: #FFFFFF;
  border: none;
  margin-right: 90%
}

.counter {
  font-family: 'Bungee', cursive;
}

