.container {
  display: flex;
}

.error {
  width: 50%;
  color: red;
  border: 3px solid red;
  margin-bottom: 3%;
  text-align: center;
}


textarea {
  width: 100%;
  border: none;
  outline: none;
  background-color: #f4f1ec;
  border-bottom: 4px solid grey;
}

button {
  font-family: 'Bungee', cursive;
  background-color: #EE8C00;
  color: #FFFFFF;
  border: none;
  margin-right: 91%
}

.counter {
  font-family: 'Bungee', cursive;
}


@media only screen and (min-width: 1024px) {
  .container {
    float: right;
    width: 55%;
    margin: 14% 5% 10% 0;
  }
}

